
body{
	background: black;
	color: orange;
	text-align: center;
	font-size: 20px;
	font-family: Comic Neue;
}
.head {
	color: red;
}

.imgs {
	margin-top: 2%;
	margin-right: 1%;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 250px;
    
}
.imgs:hover {
	 box-shadow: 0 0 2px 1px yellow;
}
p{
	text-align: center;
	margin-top: 40px;

}
.space {
	margin-right: 40px;
	text-align: center;
	margin-top: 25000px;
	font-size: 20px;
}
a:visited {
	color: red;
}
a:hover {
	text-decoration: underline;
	color: blue;
}